---
layout: default
---

<div class="home">

  <div class="grid">
    <div class="grid__col grid__col--3-of-5">
      <h1 class="page-heading">Posts</h1>

      {{ content }}

      <ul class="post-list">
        {% for post in site.posts %}
          {% if post.description != "Moved" %}
          <li>
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h2>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              <p class="post-meta">{{post.description}}</p>
            </h2>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="grid__col grid__col--2-of-5">
      <a class="twitter-timeline" href="https://twitter.com/vangheezy">Tweets by vangheezy</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
